.mainFrame {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.toolPanel {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: auto;
  padding: 10px;
  background-color: rgb(222, 222, 222);
  font-size: xx-large;
  gap: 10px;
}
.colorPicker {
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 10px;
  background-color: rgb(246, 246, 255);
  font-size: x-large;
}
.layerManager {
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 10px;
  background-color: rgb(246, 246, 255);
  font-size: x-large;
}
.layerBuffer {
  display: flex;
  flex-direction: column;
  height: max-content;
  gap: 10px;
  padding: 5px;
  padding-top: 15px;
}
.imageDisplay {
  display: flex;
  flex-direction: row;
  width: max-content;
  height: max-content;
  gap: 10px;
}
.originImage {
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 10px;
  gap: 10px;
  font-size: xx-large;
  background-color: rgb(222, 222, 222);
}
.processedImage {
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 10px;
  gap: 10px;
  font-size: xx-large;
  background-color: rgb(222, 222, 222);
}
